{%extends 'footer.html'%}

{% block content %}
<div style="margin-top: -37%;" class="container">
    <a style="color: white;" href="{%url 'index'%}"><figure class="profile-img"></figure></a>
    </div>
<html style="background-color: black;"lang="en">
    <head >
        <title style="color: brown">Social Media Icons</title>
        <meta name="author" content="Zaur">
        <meta descryption content="Presentation of website">
        <meta name="keywords" content="technology, cyber security, software">
        <meta http-equiv="refresh" content="60">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        <link rel="stylesheet" href="social_media3.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
		<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body >
		<div class="social__media__container">
		
			<a class="social facebook" href="https://www.linkedin.com/feed/">
				<i class="fa-brands fa-linkedin"></i>
			<a class="social whatsapp" href="https://github.com/shizukane">
				<i class="fa-brands fa-github"></i>
			</a>
			<a class="social google" href="https://twitter.com/home">
				<i class="fa-brands fa-twitter"></i>
			</a>
			<a class="social instagram" href="https://www.google.com/search?q=instagram+log+in&oq=ins&aqs=chrome.1.69i57j35i39l2j0i67i131i433j0i67l2j0i67i131i433j69i61.3055j0j7&sourceid=chrome&ie=UTF-8"  target="_blank">
				<i class="fa-brands fa-instagram"></i>
			</a>
		
		</div>
		
		<footer>
			<p>Email<a href="" target="_blank"> drizydarolle@gmail.com</a></p>
            <p>Phone Number<a href="" target="_blank"> 0757610727</a></p>

	   </footer>
    </body>
</html>
  {% endblock %}