{% load static %}

{% block styles %}

<link rel="stylesheet" href="{% static 'css/about.css' %}">

{% endblock %}

{% block content %}
<section id="home">
    <nav>
      <div style="margin-top:10%;" class="buttons">
        <a href="{%url 'index'%}"><button class="home">Home</button></a>
        <a href="{%url 'aboutme'%}"><button class="aboutme">About Me</button></a>
        <a href="{%url 'projects'%}"><button class="projects">Projects</button></a>
  
      </div>
    </nav>
  </section>
{% endblock %}